name: Continuous integration

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
  merge_group:

env:
  RUSTFLAGS: -D warnings

defaults:
  run:
    shell: bash

jobs:

  format:
    name: Check format
    runs-on: ubuntu-latest
    steps:

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt

      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Check format
        run: cargo fmt --all --check

  check:
    name: Check all features
    runs-on: ubuntu-latest
    steps:

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Install cargo-hack
        run: cargo install --locked cargo-hack

      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Check code quality
        run: cargo check --all-targets --all-features

  clippy:
    name: Check clippy
    runs-on: ubuntu-latest
    steps:

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Install cargo-hack
        run: cargo install --locked cargo-hack

      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Check code clippy
        run: cargo clippy --all-targets --all-features

  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Install cargo-hack
        run: cargo install --locked cargo-hack

      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Check code tests
        run:  cargo test --all-targets --all-features
